{#
/**
 * @file
 * Journal shelf views block template.
 */
#}
{{ attach_library('cesasc_theme/journal-shelf') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'journal-shelf-block',
    'js-journal-shelf-carousel',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="journal-shelf-block__inner">
    <header class="journal-shelf-block__header">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes.addClass('journal-shelf-block__title') }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}

      <a class="journal-shelf-block__all-link" href="{{ base_path }}journals">
        {{ 'All Journals'|t }}
      </a>
    </header>

    <div class="journal-shelf-block__carousel" data-journal-shelf-carousel>
      <button class="journal-shelf-block__arrow journal-shelf-block__arrow--previous" type="button" aria-label="{{ 'Previous journals'|t }}" data-journal-shelf-previous>
        <span aria-hidden="true"></span>
      </button>

      <div class="journal-shelf-block__viewport">
        {{ content }}
      </div>

      <button class="journal-shelf-block__arrow journal-shelf-block__arrow--next" type="button" aria-label="{{ 'Next journals'|t }}" data-journal-shelf-next>
        <span aria-hidden="true"></span>
      </button>
    </div>
  </div>
</section>
